<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>GitPub</title>
    <style>
        /* Your existing styles */
    </style>
</head>

<body>
    <h1>Welcome to GitPub</h1>
    <ul>
        <% drinks.forEach(function(drink, index) { %>
            <li>
                <a href="/drinks/<%= index %>">
                    <%= drink.name.charAt(0).toUpperCase() + drink.name.slice(1) %>
                </a>
            </li>
        <% }); %>
    </ul>
</body>

</html>
